body {
    font-family: Arial, sans-serif;
    background-color: #f1e7e7;
}

.calculator {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #1a0b0b;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(238, 225, 225, 0.1);
    padding: 20px;
}

.screen {
    width: 100%;
    padding: 10px;

    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid #64bad4;
    border-radius: 5px;
    color: #e2d8d8;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #6d1359;
    background-color: #2b91e4;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #dbdbdb;
}

button.operator {
    background-color: #f2a900;
    color: #fff;
}

button.operator:hover {
    background-color: #d18e00;
}

button.clear {
    background-color: #e74c3c;
    color: #fff;
}

button.clear:hover {
    background-color: #c0392b;
}
